@import "tailwindcss";

/* 1. Pengaturan Font Poppins untuk Tailwind v4 */
@theme {
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

/* 2. Utility Tambahan untuk Menyembunyikan Scrollbar */
@utility scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}